body {
  background-color: rgb(24, 22, 22); /* Cor de fundo */
  color: white; /* Cor do texto */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; /* Fonte */
  max-width: 1300px; /* Largura máxima */
  margin: 0 auto; /* Centralizar horizontalmente */
  padding: 15px; /* Espaçamento interno */
  /* Imagem de fundo */
  width: 100vw;
  height: 100vh;
  background-image: url("../img/WhatsApp Image 2024-04-17 at 23.06.51.jpeg");
  background-size: cover; /* Cobrir todo o espaço */
}
/* Estilos para o cabeçalho */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para o título*/
#title {
  display: flex;
  flex-direction: column;
  line-height: 10px;
  color: olive;
}

/* Estilos para as listas */
li {
  display: inline-block;
  margin: 15px;
}

/* Estilos para os links */
a {
  color: white;
  text-decoration: none; /* Remove sublinhado dos links */
}

a:hover {
  color: olive; /* Cor ao passar o mouse */
  transition: 0.3s all; /* Efeito de transição */
}

/* Estilos para o botão com borda */
#borda-btn {
  border: 2px solid rgb(128, 128, 0);
  padding: 10px;
  border-radius: 20px;
  color: white;
}

#borda-btn:hover {
  background-color: rgb(128, 128, 0);
  color: white;
}
#borda-btn:hover a {
  color: white; /* Ensures text color remains white on hover */
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #014029;
  width: 100%;
  height: 50px;
  margin-left: auto; /* Margem esquerda automática */
  margin-right: auto; /* Margem direita automática */
  margin-bottom: 20px; /* Adicione um espaço extra entre .containers e #ag1 */
}

.container {
  display: flex;
  flex-direction: column; /* Coloca os elementos em coluna */
  align-items: center; /* Centraliza os elementos horizontalmente */
  background-color: #014029;
  width: 100%;
  padding: 100px 0;
}

#ag1 {
  width: 1300px;
  height: 450px;
  margin-left: auto; /* Margem esquerda automática */
  margin-right: auto; /* Margem direita automática */
  margin-top: 20px; /* Adicione um espaço extra entre .containers e #ag1 */
}

.arrigado {
  display: flex;
  align-items: center;
  flex-direction: row; /* Alterado para linha */
  justify-content: space-around;
}

#boi,
#bas {
  width: 300;
  height: 350px;
  border: 1px solid;
  margin-right: 10px; /* Adiciona um espaço entre as imagens */
}

#bas {
  margin-right: 0; /* Remove a margem direita da segunda imagem */
}

.h2 {
  text-align: center;
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.p {
  text-align: center;
  margin-top: 10px;
}

span {
  color: olivedrab;
}

/* Estilos para o elemento h5 */
.pag1 {
  margin-left: 10px;
  font-size: 20px; /* Tamanho da fonte em unidades rems */
}
.hag1 {
  font-size: 35px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Espaçamento uniforme entre os cartões */
  align-items: flex-start; /* Alinhamento no topo */
  background-color: #014029;
  width: 100%;
  padding: 100px 0;
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Remova as definições de largura e altura fixas */
}

.card {
  background-color: white;
  /* Remova a altura fixa */
  width: 400px;
  border: 5px solid #e9ffe8;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 20px; /* Espaço entre os cartões */
  margin: 0 auto; /* Centraliza o card */
}

.card-content {
  padding: 20px;
}

.card h5 {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.card p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
  padding: 15px;
}

img {
  margin-bottom: 20px; /* Espaço entre as imagens e os cartões */
}
